<div class = login-home>
<form class= "login" action="/auth/login" method="POST">
  <label id= "login" for="auth-email">Email</label>
  <input id="auth-email" type="email" name="email">
  <label id="login"for="auth-password">Password</label>
  <input id="auth-password" type="password" name="password">
  <button type="submit" value="Log In" class="waves-effect waves-light btn">Login</button>
  
</form>
</div>