<div class="home">

    <h2> Looking for balanced meals? </h2>
    
   
    <div class = recipeSearch>
    <form class= "search" method="GET" action="/results">
    </br></br>
        <input id="foodSearchInput" type="text" name="q" placeholder="Search Here!"required></br></br>
        <label for="calorieRange">Calories range:</label>
        <input id="calorieRange" type="text" name="calories" placeholder="e.g.600-1000">
        <div class="diet">
            <select multiple id='diet' name='diet'>
                <option value="" disabled selected>Choose your diet</option>
                <option value="low-carb">Low-carb</option>
                <option value="low-fat">Low-fat</option>
                <option value="high-protein"> High-protein</option>
                <option value="high-fiber"> High-fiber</option>
            </select>
            <label>Diet</label>
        </div>
        <div class="preference">
            <select multiple name='health' id='health'>
                <option value="" disabled selected>Choose your preference</option>
                <option value="peanut-free">Peanut-free</option>
                <option value="tree-nut-free">Tree-nuts-free</option>
                <option value="gluten-free"> Gluten-free </option>
                <option value="vegetarian"> Vegetarian</option>
                <option value="vegan"> Vegan </option>
            </select>
            <label>Preference</label>

        </div>
        <button type="submit" class="waves-effect waves-light btn">Search</button>
    </form>
</div>

</div>


