
body {
  min-height: 100vh;
  background-image: url('../assets/images/woman.jpg');
  background-size: 100%;
  
}


main {
  min-height: 100vh;
  /* color: white; */
  margin: 0 auto
}
.home {
  margin: 0 auto;
  width: 400px;
}
nav{
  background-color:#26a69a
}
.page-footer{
  background-color:#26a69a;
 
}
h2 {
  margin-top: 80px;
  text-shadow: 2px 2px 5px black;
  color: rgb(243, 229, 229)
}

/* p{
  color: rgb(249, 243, 243)
} */
label {
  font-size: 15px;
  color: rgb(73, 72, 72);
}

.recipeSearch{
  background-color: #e1f5fe;
  opacity: 0.9;
  font-size: 20px;
  height: 450px;
  width:450px;  
  padding-left: 30px;
}

.search {

  font-size: 20px;
  height: 400px;
  width:380px;  
}
::placeholder{
color:grey;

}

.diet{
  color: black;
}

.row {
  margin: 20px 20px;
  width:320px;
  height:500px;
  border-color: cadetblue;
  border: 20px;
  
}

.card {
  width: 300px;
  height: 300px;
  
}

.results{
  
  background-color:#e1eeeecb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-size: 100% 

  /* align-content: space-around;
  align-items: space-around; */

}

.card-image{
  width: 300px;
  height: 300px;
  background-size:cover;
}
#pattern{
  background-size:cover;
  
}
.card-content{

  width: 300px;
  height: 150px;
  background:rgba(244, 230, 232, 0.701);
  border: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.result-form{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin: 40px 20px;
  justify-items: baseline;
}
.log-form{
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  justify-items: baseline;
}
.recipe-button{
  margin-right: 15px;
  margin-left: 15px;
}

.card-title{

  text-shadow: 1px 2px 2px black;
}


/* calorielog */
.log{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;  
}
.title{
  margin-bottom: 30px;
}
/* .table{
  margin: 40px 120px;
  
} */
.centered{
  margin: 0 120px;
}
.cal-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  width: 50%;
  background-color:rgb(244, 230, 232);
  margin : 50px 0;
  padding: 20px;
  opacity: 0.9;
  
}
#food-search{
  
  margin: 0 20px;
}

.cal-results{
  background-color:#e1eeeecb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-size: 100% 
}




table{
  background-color: rgb(244, 230, 232);
  opacity: 0.9;
  margin: 0 80px;
  
  table-layout: fixed;
}
tr{
  margin: 0 60px;
}

td{
  color: rgb(48, 46, 46);
  padding: 13px 10px;
  
}

input{
  text-align: center;
  color: black;
}

.sum{
  background-color: rgba(244, 230, 232, 0.841);
  position: relative;
  width:200px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}


.login-home {
  margin: 0 auto;
  width: 400px;
  
 
}
.login {
  width: 80%;
  display: gird;
  margin-top: 50%;
  
}
#login {
  color:rgba(244, 230, 232, 0.841);
}
